.layout-manage {
    position: relative;
    height: 100vh;
    
    .manage-body {
        position: absolute;
        left: 250px;
        right: 0;
        top: 70px;
        bottom: 0;
        transition: left 0.3s ease-in-out;
        background: #f0f0f0;
        display: flex;
        flex-direction: column;
        z-index: 1;

        &.is-menu-collapse {
            left: 65px;
        }

        .manage-view {
            width: auto;
            flex: 1;
            padding: 10px 0 10px 10px;
            overflow: hidden;

            .manage {
                background: #fff;
                height: 100%;
                padding: 20px;
                overflow-y: scroll;

                .table-search {
                    .el-form-item__label {
                        min-width: 80px;
                    }
                    .el-input,
                    .el-select {
                        width: 200px;
                    }
                }
            }

            .body-move-enter-to,
            .body-move-leave-from {
                opacity: 1;
                transform: translateX(0);
                transition: all 0.5s ease-in-out;
            }

            .body-move-enter-from {
                opacity: 0;
                transform: translateX(-50px);
            }
            .body-move-leave-to {
                opacity: 0;
                transform: translateX(50px);
            }
        }

        .el-backtop-inner {
            height: 100%;
            width: 100%;
            background-color: #f2f5f6;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
            text-align: center;
            line-height: 40px;
            color: $color-primary;
        }
    }
}