.ui-quill {
    .ql-container {
        height: 300px;
    }

    .ql-snow .ql-picker-label::before,
    .ql-snow .ql-picker-label svg {
        vertical-align: top;
    }

    .ql-picker.ql-size {
        width: 98px;
        .ql-picker-item[data-value]::before,
        .ql-picker-label[data-value]::before {
            content: attr(data-value);
        }
        .ql-picker-item::before,
        .ql-picker-label::before {
            content: '14px';
        }
    }

    #emoji-palette {
        #tab-toolbar {
            .active {
                border-bottom-color: $color-primary;
            }
        }
        #tab-panel {
            padding: 10px 2px;
        }
    }
}