* {
    box-sizing: border-box;
}
*:after,
*:before {
    box-sizing: border-box;
}
body,
li,
ul {
    margin: 0;
    padding: 0;
}
body {
    color: #333;
    font-size: 14px;
    font-family: 'Microsoft YaHei', Arial, sans-serif, Helvetica;
}
html {
    font-size: 16px;
}
td,
th {
    font-size: 14px;
}

a {
    color: #555;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}
a,
a:active,
a:focus,
a:hover,
a:link,
a:visited {
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    text-decoration: none;
}
img {
    border: none;
    vertical-align: middle;
}
li,
ul {
    list-style: none;
}
button,
input,
select,
textarea {
    font: 14px 'Microsoft YaHei', Arial, sans-serif, Helvetica;
    outline: 0;
}
::-webkit-input-placeholder {
    color: #ccc;
    font-size: 14px;
}

::-moz-placeholder {
    color: #ccc;
    font-size: 14px;
}

:-ms-input-placeholder {
    color: #ccc;
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(230, 230, 230, 0.2);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: #ddd;
    // background-image: -webkit-linear-gradient(
    //     45deg,
    //     rgba(255, 255, 255, 0.4) 25%,
    //     transparent 25%,
    //     transparent 50%,
    //     rgba(255, 255, 255, 0.4) 50%,
    //     rgba(255, 255, 255, 0.4) 75%,
    //     transparent 75%,
    //     transparent
    // );
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #ddd;
}
