.manage-game-cube {
    .game-panel {
        width: 300px;
        height: 500px;
        background-color: #eee;
    }

    .cube-layout {
        position: relative;
        cursor: grab;
        user-select: none;

        .cube-piece-box {
            position: absolute;
            width: 0;
            height: 0;
            top: 50%;
            left: 50%;
            font-size: var(--piece-font-size);
            transform-style: preserve-3d;
            perspective: 100000000;
            -webkit-perspective: 100000000;

            .cube-piece {
                width: 0;
                height: 0;
                position: absolute;
                transform-style: preserve-3d;

                .piece-rotate-wrap {
                    width: 0;
                    height: 0;
                    transform-style: preserve-3d;
                }

                .face {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 1em;
                    height: 1em;
                    padding: 2px;
                    background-color: #fff;

                    &::after {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 100%;
                        border-radius: 0.1em;
                    }

                    &:nth-child(1) { transform: translate3d(-0.5em, -0.5em, 0.5em); }
                    &:nth-child(2) { transform: translate3d(-0.5em, -0.5em, -0.5em); }
                    &:nth-child(3) { transform: translate3d(-0.5em, -1em, 0) rotateX(90deg); }
                    &:nth-child(4) { transform: translate3d(-0.5em, 0, 0) rotateX(90deg); }
                    &:nth-child(5) { transform: translate3d(-1em, -0.5em, 0) rotateY(90deg); }
                    &:nth-child(6) { transform: translate3d(0, -0.5em, 0) rotateY(90deg); }
                }
                // 前 后 上 下 左 右
                // 红 橙 黄 白 蓝 绿
                // ['#c50209', '#f9640a', '#f9fd0c', '#f7f8f5', '#0500c1', '#138804']
                .face0::after { background-color: #fff; }
                .face1::after { background-color: #c50209; }
                .face2::after { background-color: #f9640a; }
                .face3::after { background-color: #f9fd0c; }
                .face4::after { background-color: #f7f8f5; }
                .face5::after { background-color: #0500c1; }
                .face6::after { background-color: #138804; }
            }
        }
    }
}
