@font-face {
  font-family: "yhbk-icon"; /* Project id 2755087 */
  src: url('iconfont.eot?t=1629343778887'); /* IE9 */
  src: url('iconfont.eot?t=1629343778887#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1629343778887') format('woff2'),
       url('iconfont.woff?t=1629343778887') format('woff'),
       url('iconfont.ttf?t=1629343778887') format('truetype'),
       url('iconfont.svg?t=1629343778887#yhbk-icon') format('svg');
}

.yhbk-icon {
  font-family: "yhbk-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lang-zh:before {
  content: "\e6a3";
}

.icon-lang-en:before {
  content: "\e696";
}

