.page-error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background: #fff;
    box-sizing: border-box;

    .error-code {
        margin-top: 70px;
        line-height: 1;
        font-size: 250px;
        font-weight: bolder;
        color: #2d8cf0;

        span {
            color: #00a854;
        }
    }

    .error-desc {
        font-size: 30px;
        color: #777;
    }

    .error-handle {
        margin-top: 30px;
        padding-bottom: 200px;

    }
}